#quiz-form {
    width: 100%;
    padding: 10px;
}
.quiz-details {
    display: flex;
}
.quiz-details .labels-list {
    display: flex;
    flex-direction: column;
    width: 150px;
}
.quiz-details .labels-list label {
    margin-bottom: 10px;
    
}

.quiz-details .inputs-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.quiz-details .inputs-list input, .quiz-details .inputs-list select {
    margin-bottom: 10px;
    margin-top: 2px;
    
}