.subjectspage {
    display: flex;
  
    min-height: 200px;
    background-color: lightyellow;
    border-radius: 5px;
    padding:  10px 10px;

}
.subjectspage_center {
    flex: 0 0 75%;
    margin-right: 25px;
}
.subjectspage_asideright {
    
    flex: 0 0 20%;
    
    text-align: center;
}


.subjectspage_asideright_subjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto 30px auto;
}
.subjectspage_asideright img {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}
.subjectspage_asideright_subjects img:first-child {
    border: solid 1px red;
    
}

.tasks-table {
    margin: 0 auto;
    padding: 5px 5px;
    background-color:lightyellow;

    
}
.subjectspage h3 {
    text-align: center;
}
.tasks-table .tasks { 
    width: 100%; 
    border-collapse: collapse;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  margin: 10px auto;
}

.tasks-table .tasks .cell{
         
    text-align: center;
   
}
.tasks-table .tasks .all-tasks {
    background-color:#C1F7C1;
}
.tasks-table .tasks .head {
    background-color: #90EE90;
    
    
    
}
.tasks-table .tasks .head th { 
      padding: 15px;
      
}      

.subjectspage_asideright_forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
}
.subjectspage_asideright_forms div {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    background-color: BurlyWood;
    text-align: center;
    line-height: 35px;
}
.subjectspage_asideright_forms div:first-child {
    border: solid 1px red;
    
}